body {
    background-color: #f8f9fa;
    font-family: 'Red Hat Display';
}

section {
    padding: 10px 0;
    width: 100%;
}

footer {
    color: white;
    padding: 10px 0;
}

.p-padding {
    padding: 2px 0;
}

.full-width {
    width: 100%;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.dark-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.cropped {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -20%;
    margin-bottom: -20%;
}

.cropped-2 {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -25%;
    margin-bottom: -12%;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 50%;
}

.image-text {
    width: 1200px;
    color: white;
    position: relative;
    top: 250px;
}

.nav {
    width: 1200px;
    margin: 0 auto;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.signature-color {
    background-color: #67118d;
}

.policy,
.policy:hover {
    color: white;
    text-decoration: underline;
}

.nav-link, .nav-link:hover {
    text-decoration: none;
    color: black;
}

.flag-img {
    width: 20px;
    height: 15px;
}

.flag-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.btn-link.dropdown-toggle {
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.btn-link.dropdown-toggle .caret {
    border-top-color: black;
    margin-top: -2px;
}

.btn-link.dropdown-toggle:hover .caret {
    border-top-color: black;
}

.custom-button {
    background-color: #ffffff;
    color: #67118d;
    border: 3px solid #67118d;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #67118d;
    color: #ffffff;
    text-decoration: none;
}

.nav-list li {
    display: inline;
    margin-right: 50px;
}

.nav-links {
    text-decoration: none;
    color: black;
}

.nav-links:hover {
    text-decoration: underline;
    color: black;
}

.active-tab {
    text-decoration: underline;
}

.signature-link, .signature-link:hover {
    text-decoration: underline;
    color: #67118d;
    font-size: large;
}

.custom-h5 {
    font-size: 18px;
}

.language, .language:hover {
    background-color:darkseagreen;
}